In [45]:
import pandas as pd

weatherDF = pd.read_csv("weather_data.csv", encoding="cp949")
weatherDF = weatherDF[["지점명", "일시", "기온(°C)"]]
weatherDF

      지점명                일시  기온(°C)
0      서울  2020-01-01 00:00    -6.5
1      서울  2020-01-01 01:00    -5.9
2      서울  2020-01-01 02:00    -5.7
3      서울  2020-01-01 03:00    -5.6
4      서울  2020-01-01 04:00    -5.4
...    ..               ...     ...
17557  부산  2020-12-31 19:00     0.6
17558  부산  2020-12-31 20:00     0.1
17559  부산  2020-12-31 21:00    -0.2
17560  부산  2020-12-31 22:00    -0.7
17561  부산  2020-12-31 23:00    -0.7

[17562 rows x 3 columns]

In [ ]:
is_seoul = weatherDF["지점명"] == "서울"
seoul = weatherDF[is_seoul]
temp = []
for date in seoul["일시"]:
    temp.append(date.split(" ")[0])
temp_seoul = []
unique_temp = set(temp) # set 자료형으로 형변환 = 중복된 날짜를 하나로 뭉침
unique_temp
for date in unique_temp:
    if temp.count(date) != 24: # 시간이 24개가 없는(= 누락된 시간이 있는) 날짜들
        temp_seoul.append(date)
temp_seoul
# 누락된 데이터 확인
for date in seoul["일시"]:
    for temp_date in temp_seoul:
        if(temp_date in date):
            print(date)

In [ ]:
is_busan = weatherDF["지점명"] == "부산"
busan = weatherDF[is_busan]
temp = []
for date in busan["일시"]:
    temp.append(date.split(" ")[0])
temp_busan = []
unique_temp = set(temp) #set 자료형으로 형변환
for date in unique_temp:
    if temp.count(date) != 24:
        temp_busan.append(date)

import numpy as np
timeList = np.arange(24)
findDate = []

for date in busan["일시"]:
    tempFindDateTime = []
    count = 0
    for temp_date in temp_busan:
        print(temp_busan)
        if(temp_date in date):
            tempFindDateTime.append(int(date.split(" ")[1].split(":")[0]))
        count += 1
    if not bool(tempFindDateTime):
        continue
    print(tempFindDateTime)

print(findDate)

In [48]:
dates = []
time_list = []
for date in busan["일시"]:
    for temp_date in temp_busan:
        if temp_date in date:
            dates.append(date)

empty_dates = []
print(dates)
for i in range(0, 24):
    if len(dates) != 0:
        if int(dates[0].split(" ")[1].split(":")[0]) != i:
            empty_dates.append(f"{dates[0].split(' ')[0]} {str(i).zfill(2)}:00")
            continue
        dates.remove(dates[0])
    else:
        empty_dates.append(f"{dates[0].split(' ')[0]} {str(i).zfill(2)}:00")

print(empty_dates)

['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 05:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 04:00', '2020-08-26 06:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 21:00']

In [49]:
empty_date = []
data_date = []
for date in busan["일시"]:
    for temp_date in temp_busan:
        if temp_date in date:
            empty_date.append(date.split(" ")[0])
            data_date.append(date)

empty_date = set(empty_date)
print(empty_date)
print(data_date)

{'2020-08-26'}
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 05:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 22:00', '2020-08-26 23:00']

In [50]:
full_date = []
for date in empty_date:
    for h in range(24):
        full_date.append(date + f" {str(h).zfill(2)}:00")

print(full_date)

['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 04:00', '2020-08-26 05:00', '2020-08-26 06:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 21:00', '2020-08-26 22:00', '2020-08-26 23:00']

In [51]:
full_empty_date = []
for date in full_date:
    if date not in data_date:
        full_empty_date.append(date)

print(full_empty_date)

['2020-08-26 04:00', '2020-08-26 06:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 21:00']

In [52]:
empty_date = []
data_date = []
for date in busan["일시"]:
    for temp_date in temp_busan:
        if temp_date in date:
            empty_date.append(date.split(" ")[0])
            data_date.append(date)

empty_date = set(empty_date)
print(empty_date)
print(data_date)

full_date = []
for date in empty_date:
    for h in range(24):
        full_date.append(date + f" {str(h).zfill(2)}:00")

print(full_date)

full_empty_date = []
for date in full_date:
    if date not in data_date:
        full_empty_date.append(date)

print(full_empty_date)

{'2020-08-26'}
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 05:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 04:00', '2020-08-26 05:00', '2020-08-26 06:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 21:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 04:00', '2020-08-26 06:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 21:00']

In [68]:
is_busan = weatherDF["지점명"] == "부산"
busan = weatherDF[is_busan]
temp = []
for date in busan["일시"]:
    temp.append(date.split(" ")[0])
temp_busan = []
unique_temp = set(temp) #set 자료형으로 형변환
for date in unique_temp:
    if temp.count(date) != 24:
        temp_busan.append(date)
empty_date = []
data_date = []
for date in busan["일시"]:
    for temp_date in temp_busan:
        if temp_date in date:
            empty_date.append(date.split(" ")[0])
            data_date.append(date)

empty_date = set(empty_date)
print(empty_date)
print(data_date)

full_date = []
for date in empty_date:
    for h in range(24):
        full_date.append(date + f" {str(h).zfill(2)}:00")

print(full_date)
full_empty_date_busan = []
for date in full_date:
    if date not in data_date:
        full_empty_date_busan.append(date)

print(full_empty_date_busan)

{'2020-08-26'}
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 05:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 04:00', '2020-08-26 05:00', '2020-08-26 06:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 21:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 04:00', '2020-08-26 06:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 21:00']

In [69]:
is_seoul = weatherDF["지점명"] == "서울"
seoul = weatherDF[is_seoul]
temp = []
for date in seoul["일시"]:
    temp.append(date.split(" ")[0])
temp_seoul = []
unique_temp = set(temp) #set 자료형으로 형변환
for date in unique_temp:
    if temp.count(date) != 24:
        temp_seoul.append(date)
empty_date = []
data_date = []
for date in seoul["일시"]:
    for temp_date in temp_seoul:
        if temp_date in date:
            empty_date.append(date.split(" ")[0])
            data_date.append(date)

empty_date = set(empty_date)
print(empty_date)
print(data_date)

full_date = []
for date in empty_date:
    for h in range(24):
        full_date.append(date + f" {str(h).zfill(2)}:00")

print(full_date)
full_empty_date_seoul = []
for date in full_date:
    if date not in data_date:
        full_empty_date_seoul.append(date)

print(full_empty_date_seoul)

{'2020-08-26'}
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 04:00', '2020-08-26 05:00', '2020-08-26 06:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 21:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 00:00', '2020-08-26 01:00', '2020-08-26 02:00', '2020-08-26 03:00', '2020-08-26 04:00', '2020-08-26 05:00', '2020-08-26 06:00', '2020-08-26 07:00', '2020-08-26 08:00', '2020-08-26 09:00', '2020-08-26 10:00', '2020-08-26 11:00', '2020-08-26 12:00', '2020-08-26 13:00', '2020-08-26 14:00', '2020-08-26 15:00', '2020-08-26 16:00', '2020-08-26 17:00', '2020-08-26 18:00', '2020-08-26 19:00', '2020-08-26 20:00', '2020-08-26 21:00', '2020-08-26 22:00', '2020-08-26 23:00']
['2020-08-26 13:00']

In [70]:
full_empty_date = list(set(full_empty_date_seoul + full_empty_date_busan))
for date in full_empty_date:
    seoul = seoul[seoul["일시"] != date]
    busan = busan[busan["일시"] != date]

seoul
busan

time = []
for i in range(24):
    time.append(str(i).zfill(2) + ":00")

import numpy as np
import pandas as pd

zeros = np.zeros((24, 2))
df = pd.DataFrame(zeros, index=time, columns=["seoul", "busan"])
df

       seoul  busan
00:00    0.0    0.0
01:00    0.0    0.0
02:00    0.0    0.0
03:00    0.0    0.0
04:00    0.0    0.0
05:00    0.0    0.0
06:00    0.0    0.0
07:00    0.0    0.0
08:00    0.0    0.0
09:00    0.0    0.0
10:00    0.0    0.0
11:00    0.0    0.0
12:00    0.0    0.0
13:00    0.0    0.0
14:00    0.0    0.0
15:00    0.0    0.0
16:00    0.0    0.0
17:00    0.0    0.0
18:00    0.0    0.0
19:00    0.0    0.0
20:00    0.0    0.0
21:00    0.0    0.0
22:00    0.0    0.0
23:00    0.0    0.0

In [ ]:
seoul

In [ ]:
busan

In [73]:
max_index = []

# print(seoul.iloc[0:24, 2].idxmax()) # 0~24 index중 2열의 값 중에 가장 큰값의 인덱스를 가지고 온다 >>> 15

# 서울에서 각 시간 기온을 리스트에 담고 그 리스트 중에 가장 큰 값의 인덱스를 리스트에 담아야함

for i in range(0, len(seoul), 24):
    max_index.append(seoul.iloc[i: i+24, 2].idxmax())

for i in max_index:
    df.loc[seoul.loc[i][1].split(" ")[1]]["seoul"] += 1

max_index = []
for i in range(0, len(busan), 24):
    max_index.append(busan.iloc[i: i+24, 2].idxmax())

for i in max_index:
    df.loc[busan.loc[i][1].split(" ")[1]]["busan"] += 1
df

       seoul  busan
00:00    7.0    3.0
01:00    3.0    2.0
02:00    2.0    0.0
03:00    2.0    0.0
04:00    1.0    0.0
05:00    0.0    2.0
06:00    2.0    3.0
07:00    1.0    1.0
08:00    0.0    1.0
09:00    0.0    3.0
10:00    1.0    5.0
11:00    5.0   36.0
12:00   11.0   48.0
13:00   25.0   75.0
14:00   72.0   74.0
15:00  118.0   66.0
16:00   94.0   30.0
17:00   16.0    8.0
18:00    2.0    3.0
19:00    0.0    1.0
20:00    1.0    1.0
21:00    0.0    0.0
22:00    0.0    0.0
23:00    3.0    4.0